<footer>
    <div class="footer-info text-lg-left text-center ">
        <ul class=" m-0 mb-3 p-0 ">
            <li><i class="fa-solid fa-location-pin icon-social"></i> Les Borges Blanques</li>
            <li><i class="fa-solid fa-calendar-days icon-social"></i> 5-7 Juliol 2022</li>
            <li><i class="fa-solid fa-envelope icon-social"></i></i> info@festival.com</li>
            <li><i class="fa-solid fa-mobile-screen icon-social"></i> 620562233</li>
        </ul>
        <hr class="my-4">
    </div>
    <div
        class="container-footer-nav  d-flex flex-column flex-xl-row justify-content-center justify-content-xl-between  align-items-center ">
        <div>
            <a class="navbar-brand mb-0 h1 " href="/src/index.html">Festival Garrigues</a>
            <!--<p class="h5 m-0 p-0 text-light">Festival Garrigues</p>-->
        </div>

        <div class="justify-content-evenly ">
            <ul class="nav  nav-footer-flex ">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#">Inici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="./bandes.html">Bandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="./blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="./contacte.html">Contacte</a>
                </li>
            </ul>
        </div>

        <div class="">
            <a href="#"><i class="fa-brands fa-facebook fa-2x icon-social"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-2x icon-social"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-2x icon-social"></i></a>
        </div>
    </div>
</footer>
<!--
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">Festival Garrigues</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inici</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./bandes.html">Bandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacte.html">Contacte</a>
                    </li>

                </ul>
            
                <form class="d-flex">
                    <button class="btn btn-outline-success"><i class="fa-brands fa-facebook fa-2x"></i></button>
                    <button class="btn btn-outline-success"><i class="fa-brands fa-twitter fa-2x"></i></button>
                    <button class="btn btn-outline-success"><i class="fa-brands fa-instagram fa-2x"></i></button>
                </form>
            </div>
        </div>
    </nav>
    -->